<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <appSettings>
    <!--服务加载的起始目录-->
    <add key="serviceRoot" value="C:\app"/>
    <!--appAgent设置-->
    <add key="appAgent_enable" value="true"/>
    <add key="appAgent_name" value="apploader"/>
    <!--若需要集群管理则设置master名称，如：taobao-ops-base-->
    <add key="appAgent_master" value=""/>
    <add key="appAgent_description" value="apploader"/>
  </appSettings>

  <log4net debug="false">
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="c:\logs\apploader\log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="CountDirection" value="1"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n"/>
      </layout>
    </appender>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->
    <root>
      <priority value="INFO"/>
      <appender-ref ref="console"/>
      <appender-ref ref="rollingFile"/>
    </root>
  </log4net>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
</configuration>
