<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <facilities>
    <!--Log4net-->
    <facility id="logging"
              type="Castle.Facilities.Logging.LoggingFacility,CodeSharp.Core.Castles"
              loggingApi="log4net"
              configFile="application_config/log4net.config" />
  </facilities>
</configuration>
