<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeSharp.Core" version="2.0" />
  <package id="CodeSharp.Core.Castles" version="2.0" />
  <package id="CodeSharp.Framework" version="2.0" />
  <package id="CodeSharp.Framework.Castles" version="2.0" />

  <package id="CodeSharp.Package.AspNetMvc3" version="3.0" />
  <package id="CodeSharp.Package.AspNetWebPage" version="1.0" />

  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="Castle.Windsor" version="3.0.0.4001" />
  <package id="log4net" version="2.0.0" />
</packages>