<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--本地开发环境配置-->
    
    <!--常规开发环境-->
    <!--<connectionString>Server=taobao-devdb\dev;database=TaobaoEnt;uid=sa;pwd=System1234dev</connectionString>-->
    <!--引擎开发使用-->
    <connectionString>Server=taobao-devdb\dev;database=TaobaoInfrastructureDev;uid=sa;pwd=System1234dev</connectionString>
    <!--性能使用-->
    <!--<connectionString>Server=taobao-yalidb;database=TaobaoEnt;uid=sa;pwd=System1234yali</connectionString>-->
    <!--Logger-->
    <log4netConfigFile>application_config/log4net.config</log4netConfigFile>

    <!--以下声明NTFE App的配置项依赖-->
    
    <!--Scheduler-->
    <interval>1000</interval>
    <schedulerId>dev_unittest</schedulerId>
    <perChargeCount>50</perChargeCount>
    <!--SchedulerService-->
    <ntfeSchedulerIds>dev_unittest</ntfeSchedulerIds>
    
    <!--DefaultSubProcessHelper-->
    <systemUserName>wfservice</systemUserName>
    <!--DefaultMethodHelper-->
    <serviceCenterWebRootUrl>http://taobao-wf-dev01:1234</serviceCenterWebRootUrl>
    <ntfeUserQueryService>Taobao.Framework.Services.TFlowEngineUserService</ntfeUserQueryService>
    
    <!--zookeeper DLM-->
    <zookeeperConnectString>127.0.0.1:2181</zookeeperConnectString>
    <zookeeperLockDir>/dev/locks</zookeeperLockDir>
  </properties>
</configuration>
