<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.0.12054" />
  <package id="Taobao.Infrastructure" version="1.0" />
  <package id="Taobao.Infrastructure.Castles" version="1.0" />
  <package id="Taobao.Model" version="1.0" />
  <package id="Taobao.Package.Castle" version="2.1" />
  <package id="Taobao.Package.Log4net" version="1.2" />
  <package id="Taobao.ServiceFramework" version="1.2" />
  <package id="Taobao.ServiceFramework.Castles" version="1.2" />
</packages>